parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 4
			path: app/BallotComponents/FirstPastThePost/v1/FirstPastThePostTest.php

		-
			message: "#^Parameter \\#1 \\$component of static method App\\\\BallotComponents\\\\FirstPastThePost\\\\v1\\\\FirstPastThePost\\:\\:getSubmissionValidator\\(\\) expects App\\\\Models\\\\BallotComponent, Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/BallotComponents/FirstPastThePost/v1/FirstPastThePostTest.php

		-
			message: "#^Parameter \\#2 \\$component of static method App\\\\BallotComponents\\\\FirstPastThePost\\\\v1\\\\FirstPastThePost\\:\\:calculateResults\\(\\) expects App\\\\Models\\\\BallotComponent, Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/BallotComponents/FirstPastThePost/v1/FirstPastThePostTest.php

		-
			message: "#^Parameter \\#2 \\$election of static method App\\\\BallotComponents\\\\FirstPastThePost\\\\v1\\\\FirstPastThePost\\:\\:getSubmissionValidator\\(\\) expects App\\\\Models\\\\Election, Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/BallotComponents/FirstPastThePost/v1/FirstPastThePostTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 11
			path: app/BallotComponents/RankedChoice/v1/RankedChoiceTest.php

		-
			message: "#^Parameter \\#1 \\$component of static method App\\\\BallotComponents\\\\RankedChoice\\\\v1\\\\RankedChoice\\:\\:getSubmissionValidator\\(\\) expects App\\\\Models\\\\BallotComponent, Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/BallotComponents/RankedChoice/v1/RankedChoiceTest.php

		-
			message: "#^Parameter \\#2 \\$election of static method App\\\\BallotComponents\\\\RankedChoice\\\\v1\\\\RankedChoice\\:\\:getSubmissionValidator\\(\\) expects App\\\\Models\\\\Election, Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/BallotComponents/RankedChoice/v1/RankedChoiceTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 4
			path: app/BallotComponents/YesNo/v1/YesNoTest.php

		-
			message: "#^Parameter \\#1 \\$component of static method App\\\\BallotComponents\\\\YesNo\\\\v1\\\\YesNo\\:\\:getSubmissionValidator\\(\\) expects App\\\\Models\\\\BallotComponent, Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/BallotComponents/YesNo/v1/YesNoTest.php

		-
			message: "#^Parameter \\#2 \\$component of static method App\\\\BallotComponents\\\\YesNo\\\\v1\\\\YesNo\\:\\:calculateResults\\(\\) expects App\\\\Models\\\\BallotComponent, Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/BallotComponents/YesNo/v1/YesNoTest.php

		-
			message: "#^Parameter \\#2 \\$election of static method App\\\\BallotComponents\\\\YesNo\\\\v1\\\\YesNo\\:\\:getSubmissionValidator\\(\\) expects App\\\\Models\\\\Election, Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/BallotComponents/YesNo/v1/YesNoTest.php

		-
			message: "#^Comparison operation \"\\=\\=\" between non\\-empty\\-array\\|non\\-empty\\-string\\|true and \\-1 results in an error\\.$#"
			count: 1
			path: app/Console/Commands/BallotComponentCreate.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 2
			path: app/Console/Commands/BallotComponentCreate.php

		-
			message: "#^PHPDoc type array of property App\\\\Exceptions\\\\Handler\\:\\:\\$dontFlash is not covariant with PHPDoc type array\\<string\\> of overridden property Illuminate\\\\Foundation\\\\Exceptions\\\\Handler\\:\\:\\$dontFlash\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^PHPDoc type array of property App\\\\Exceptions\\\\Handler\\:\\:\\$dontReport is not covariant with PHPDoc type array\\<string\\> of overridden property Illuminate\\\\Foundation\\\\Exceptions\\\\Handler\\:\\:\\$dontReport\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Access to property \\$owner on an unknown class App\\\\Models\\\\User\\.$#"
			count: 1
			path: app/Http/Controllers/Controller.php

