includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 10 is the highest level
    level: 5

    excludePaths:
        - app/Http/Resources

    checkModelProperties: true
