@import "tailwindcss/base";

@import "tailwindcss/components";

// BUTTONS
.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

//
// Question Labels
//

@mixin question {
    font-size: 1.3rem;
    color: var(--color);
    line-height: 1;

    @media (max-width: 640px) {
        font-size: 1.2rem;
        padding-bottom: 0.7rem;
        line-height: 1;
    }
}

.question {
    @include question;
}

//
// Question Inputs
//

@mixin generic_input {
    display: flex;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

//
// Specifics by type
//

// --- Radio ---

label.radio {
    @include question;
}

.radio__label {
    @include question;
}

.radio__input {
    @include generic_input;

    input:checked+.radio__control {
        background: currentColor;
    }
}

.radio__control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid currentColor;
}

// --- Checkbox ---

.checkbox {
    @include question;
}

.checkbox__label {
    @include question;
}

.checkbox__input {
    @include generic_input;

    input:checked+.checkbox__control {
        background: currentColor;
    }
}

.checkbox__control {
    display: block;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
}

// --- Ranked choice ---

.tie-header {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.round_state {
    max-width: 200px;
    min-width: 185px;
}

// --- Results ---

.trow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@import "tailwindcss/utilities";