name: Laravel

on: push

jobs:
  laravel-tests:

    runs-on: ubuntu-latest
    env:
      DB_CONNECTION: sqlite
      DB_DATABASE: database/database.sqlite
      CACHE_DRIVER: array
      SESSION_DRIVER: array
      QUEUE_DRIVER: sync
    steps:
    - uses: actions/checkout@v2
    - name: Setup PHP version
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: composer install
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    # - name: Compile assets
    #   run: |
    #     yarn
    #     yarn production
    - name: Init DB
      run: php artisan migrate:fresh

    - name: Execute tests
      run: php artisan test
